@use'../components/mixin' as *;
@use'../custom' as *;


body {
    @include linear-light;

    [data-bs-theme="dark"] & {
        @include linear-dark;
    }
}


.navbar {


    &-container {
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;

    }
}

[data-bs-theme="dark"] {
    .navbar {
        &-container {
            background-color: var(--bs-dark);
        }
    }
}